@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #3f3b51;
}

.nav-menu {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  font-size: 2rem;
  padding: 1rem 1.5rem;
}

.link {
  text-decoration: none;
}

.grey {
  color: #908e9b;
}

.green {
  color: #547281;
}

.hamburger {
  display: none;
}

li {
  padding: 1rem 1.5rem;
}

@media (max-width: 768px) {
  .nav-menu {
    display: none;
  }

  .nav-menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    right: 15px;
    top: 35px;
    position: absolute;
    background: url(https://i.ibb.co/HrfVRcx/menu.png) no-repeat;
  }
}

.hamburger.active {
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.icon {
  width: 30px;
  padding-right: 1rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 45rem;
}

.media-icons {
  padding-bottom: 2rem;
}

.faq {
  margin-top: 2rem;
  margin-left: 1rem;
}

.faq-links {
  display: flex;
}

.faq-list {
  list-style: none;
}

.white {
  color: white;
  padding-right: 1rem;
}
